* {
  font-family: "Symbols Nerd Font", sans-serif;
  font-size: 11px;
  font-weight: normal;
  min-height: 0;
}

window#waybar {
  background: #000000;
  color: #b8bcc8;
}

#workspaces button:hover {
  background: #111111;
}

#workspaces button {
  padding: 0 3px;
  color: #81a1c1;
}
#workspaces button.active {
  color: #ebcb8b;
}

#clock, #battery {
  padding: 0 6px;
}

#battery.warning { color: #ebcb8b; }
#battery.critical { color: #bf616a; }
